/* Genel stil ayarları */
.login-container {
    margin-top: 100px;
    width: 100%;
    max-width: 450px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Sekme stil */
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.tab {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    text-align: center;
}

.tab:hover {
    background-color: #f2f2f2;
}

.tab.active {
    background-color: #00615f;
    color: white;
    font-weight: bold;
}

/* Form stil */
form {
    display: none;
}

form.active {
    display: block;
}

/* Giriş butonu */
button.btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #00615f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.2s;
}

button.btn:hover {
    background-color: #00615f;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.form-group input:focus {
    border-color: #00615f;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

p a {
    color: #00615f;
    text-decoration: none;
    font-weight: 500;
}

